@tailwind base;
@tailwind components;
@tailwind utilities;

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #1F2937;
}

.react-toggle--checked .react-toggle-track {
  background-color: #666666;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #1F2937;
}
